<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>8w8re</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>8w8re</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>0</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://8w8re.page.link/resetpassword</string>
	</array>
	<key>FirebaseScreenReportingEnabled</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>8w8re</string>
		<string>http</string>
		<string>https</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>My description about why I need this capability</string>
	<key>NSCameraUsageDescription</key>
	<string>My description about why I need this capability</string>
	<key>NSContactsUsageDescription</key>
	<string>My description about why I need this capability</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Allow Flutter tools on your computer to connect and debug your application. This prompt will not appear on release builds.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>My description about why I need this capability</string>
	<key>NSLocationUsageDescription</key>
	<string>My description about why I need this capability</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>My description about why I need this capability</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>My description about why I need this capability</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>My description about why I need this capability</string>
	<key>NSRemindersUsageDescription</key>
	<string>My description about why I need this capability</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>kTCCServiceMediaLibrary</key>
	<string>Needed to suggest songs to the user.</string>
</dict>
</plist>
